<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #279c46;">
  <a class="navbar-brand" href="#">Readit</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.google.com/search?q=color+%23e3f2fd&rlz=1C1CHBF_esCO895CO895&oq=color+%23e3f2fd&aqs=chrome..69i57j0l2.1911j0j7&sourceid=chrome&ie=UTF-8">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.google.com/search?q=color+%23e3f2fd&rlz=1C1CHBF_esCO895CO895&oq=color+%23e3f2fd&aqs=chrome..69i57j0l2.1911j0j7&sourceid=chrome&ie=UTF-8">Realizar pedido</a>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Restuarantes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.google.com/search?q=color+%23e3f2fd&rlz=1C1CHBF_esCO895CO895&oq=color+%23e3f2fd&aqs=chrome..69i57j0l2.1911j0j7&sourceid=chrome&ie=UTF-8">Restaurantes <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://www.google.com/search?q=color+%23e3f2fd&rlz=1C1CHBF_esCO895CO895&oq=color+%23e3f2fd&aqs=chrome..69i57j0l2.1911j0j7&sourceid=chrome&ie=UTF-8">Contáctanos <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-lista></app-lista>
    </div>
    <div class="col-md-6">
      <app-lista-add></app-lista-add>
    </div>
  </div>
</div>
