
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #28a851;">

    <a class="navbar-brand" [routerLink]="['inicio']"> <a class="navbar-brand" [routerLink]="['incio']">
      <img src="assets/img/Logo4.png" width="120" height=120 alt="">
    </a></a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['inicio']"><FONT SIZE=5> Inicio</FONT></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" [routerLink]="['pedido']" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <FONT SIZE=5> Pedido</FONT>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">O1</a>
            <a class="dropdown-item" href="#">O2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Ayuda</a>
          </div>
        </li>

        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link"  [routerLink]="['restaurantes']"><FONT SIZE=5> Restaurantes</FONT> <span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link"  [routerLink]="['contacto']"><FONT SIZE=5> Contáctanos</FONT> <span class="sr-only">(current)</span></a>
        </li>

      </ul>

      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit"> O</button>
      </form>

    </div>
  </nav>



<div class="container main-container">

  <router-outlet></router-outlet>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <app-lista></app-lista>
    </div>
    <div class="col-md-6">
      <app-lista-add></app-lista-add>
    </div>
  </div>
</div>




