<h2>Restaurantes</h2>
<div  class="alert alert-warning" role="alert"  *ngFor="let restaurante of restaurantes; index as restauranteNombre">
   <h3>
       <a [title]="restaurante.Nombre + ' Menu'"  [routerLink]="['/restaurantes/articulos',restauranteNombre]">
         {{restaurante.Nombre}}
         </a>
   </h3>
   <img src={{restaurante.url}} width="450" height="450"/>
   <p *ngIf="restaurante.Descripcion">
    Descripcion: {{restaurante.Descripcion}}
  </p>
  
  <button (click)="share()">
    Share
  </button>

</div>