
<h2> Menu : </h2>
<a routerLink="/carrito" class="button fancy-button">

  <i class="material-icons">Checkout</i>
</a>
<div  id="Parent" class="alert alert-warning" role="alert"  *ngFor="let articulo of menus">
  <div id="imageDiv">
    <img src={{articulo.Url}}>
  </div>
    <h3>
        <a [title]="articulo.Nombre + ' Menu'">
          {{articulo.Nombre}}
          </a>
          
    </h3>
    <span>{{articulo.precio}}</span>
    <style>
      #imageDiv {
        margin-right: 40px;
        width: 100px;
        height: 100px;
        float: left;
      }
    </style>
   
    <button (click)="addToCart(articulo)">Comprar</button>    
 </div>